<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 id="titulo">Adicionar à refeição </h3>
        </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <input id="buscar-alimento" type="text" class="form-control" placeholder="Procurar alimento...">
                        <br>
                        <p id="Palimentos" style="font-size: smaller;color: #ccc;text-indent: 1em;display: none;"> Selecione o alimento:</p>
                        <select id="alimentos" class="form-control" multiple="multiple" style="display: none">
                        </select>
                    </div>
                    <div class="col-md-12" id="trocar-alimento" style="display: none">
                        <table class="table table-striped table-responsive tabela-alimento">
                            <thead>
                            <th>Proteinas</th>
                            <th>Carboidratos</th>
                            <th>Gorduras</th>
                            <th>Quantidade</th>
                            </thead>
                            <tbody id="alm-new">
                            <tr>
                                <td class="proteinas"></td>
                                <td class="carboidratos"></td>
                                <td class="gorduras"></td>
                                <td class="quantidade"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-9" style="padding-top: 5px;">
                        <div id="slider2"></div>
                    </div>
                    <div class="col-md-3">
                        <p style="font-size: small;color: darkgreen;" id="qnt2"></p>
                    </div>
                    <div class="col-md-12">
                        <p id="trocar-alimento-dif" class="cal-dif" style="font-size: smaller;text-align: right;display: none">
                            <font style="font-weight: bold"></font> calorias em sua refeição.<br>
                        </p>
                    </div>
                    <div class="col-md-12" style="text-align: right">
                        <input type="button" class="btn btn-default" id="adicionar-alimento" value="Adicionar" style="display: none">
                        <i class="fa fa-cog fa-spin carregando" style="display: none"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $('#titulo').append(window.ref);

        var alimentos = [];
        $('#buscar-alimento').on('keyup',function () {
            if($(this).val().length > 3){

                var link = "http://api.anilha.net/api/diet/act-get-alimento.php?nome=" + $('#buscar-alimento').val();

                $('#Palimentos').fadeIn('slow');
                $('#alimentos').fadeIn('slow').html('<option>Carregando...</option>');
                $.getJSON(link, function (data) {

                    alimentos = [];
                    $('#alimentos').html('');

                    if(data['return'].length == 0){ $('#alimentos').append('<option>Nenhum alimento encontrado.</option>'); }

                    $.each(data['return'], function (key,value) {
                        alimentos.push(value);
                        $('#alimentos').append('<option id="'+key+'">'+value['nome']+'</option>');
                    });

                });
            }

            if($(this).val().length == 0){ $('#alimentos').fadeOut('slow'); }

        });

        $('#alimentos').on('change', function () {
            $('#trocar-alimento').fadeIn('slow');

            var id = alimentos[$('#alimentos option:selected').attr('id')];
            window.new_almUID = id.uid;

            console.log(id);

            var diferenca = 100;
            diferenca = 25 * (Math.round( diferenca / 25));


            var calorias_novo =
                    (id.gorduras     * 9) * diferenca +
                    (id.proteinas    * 4) * diferenca +
                    (id.carboidratos * 4) * diferenca ;

            $('#alm-new tr td.quantidade,#qnt2') .html( (diferenca).toFixed(2)                   + ' g' );
            $('#alm-new tr td.proteinas')        .html( (id.proteinas    * diferenca).toFixed(2) + ' g' );
            $('#alm-new tr td.carboidratos')     .html( (id.carboidratos * diferenca).toFixed(2) + ' g' );
            $('#alm-new tr td.gorduras')         .html( (id.gorduras     * diferenca).toFixed(2) + ' g' );



            $('#trocar-alimento-dif').fadeIn('slow');
            $('#trocar-alimento-dif font').html( (calorias_novo).toFixed(2) );

            $( "#slider2" ).slider({ max: diferenca*2,  min:25,  step: 25,  value: diferenca });
            $('#adicionar-alimento').fadeIn('slow');

            window.slider2max = diferenca*2;
        });

        $( "#slider2" ).on( "slidechange", function( event, ui ){
            var diferenca2 = 0;
            var sl_value = parseFloat($(this).slider("value"));

            if(sl_value+25 >= window.slider2max){
                window.slider2max *= 2;
                $( "#slider2" ).slider({ max: window.slider2max,  min:25,  step: 25,  value: sl_value });
            }

            var qnt_antiga = parseFloat($('#alm-new tr td.quantidade').html());

            var gorduras     = parseFloat($('#alm-new tr td.gorduras').html());
            var proteinas    = parseFloat($('#alm-new tr td.proteinas').html());
            var carboidratos = parseFloat($('#alm-new tr td.carboidratos').html());

            $('#qnt2').html(sl_value + ' g');

            diferenca2 = sl_value/qnt_antiga;
            console.log(diferenca2);

            $('#alm-new tr td.quantidade')   .html((sl_value)                  .toFixed(2) + ' g' );
            Slider2Adptar('gorduras'     , gorduras     * diferenca2);
            Slider2Adptar('proteinas'    , proteinas    * diferenca2);
            Slider2Adptar('carboidratos' , carboidratos * diferenca2);

            var calorias_novo =
                    (gorduras     * 9) * diferenca2 +
                    (proteinas    * 4) * diferenca2 +
                    (carboidratos * 4) * diferenca2 ;

            $('#trocar-alimento-dif').fadeIn('slow');
            $('#trocar-alimento-dif font').html( (calorias_novo).toFixed(2) );


            function Slider2Adptar(elm,valor){
                var valor_antigo = parseFloat($('#td-edit-alm tr td.'+elm).html());
                $('#alm-new tr td.'+elm).html(valor.toFixed(2) + ' g');
            }

        });
        $('#adicionar-alimento').click(function () {
            $('.carregando').fadeIn('slow');
            console.log(window.adicionar_acao);
            switch (window.adicionar_acao){
                case 'dieta':
                    var data_enviar = 'uid='+ $.cookie('uid') +
                            '&email='+ $.cookie('email') +
                            '&ref='+window.ref+
                            '&qnt='+parseFloat($( "#qnt2" ).html())+
                            '&new_alm='+window.new_almUID;
                    $.ajax({
                        type: 'post',
                        data: data_enviar,
                        url: window.link+'api/diet/act-dieta-addalimento.php',
                        success: function (retorno) {
                            window.jsonFUNC();
                            $('.close').click();
                        }
                    });
                break;
                case 'diario':
                    var data_enviar =
                        'uid='      + $.cookie('uid')                 +
                        '&email='   + $.cookie('email')               +
                        '&ref='     + (window.ref-1)                  +
                        '&data='    + window.data                     +
                        '&qnt='     + parseFloat($( "#qnt2" ).html()) +
                        '&new_alm=' + window.new_almUID;
                    $.ajax({
                        type: 'post',
                        data: data_enviar,
                        url: window.link+'api/diario/act-ca-alimento.php',
                        success: function (retorno) {
                            $.carregarDiario();
                            $('.close').click();
                        }
                    });
                break;
            }
        });
    });

</script>