<div class="col-md-12">
    <h3 id="alm-nome"></h3>
</div>
<div class="col-md-12">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#geral" data-toggle="tab">Geral</a></li>
        <li><a href="#nutri" data-toggle="tab">Inf. Nutricional</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="geral" style="border:solid 1px rgb(221, 221, 221);border-top: 0;">
            <div class="row">
                <div class="col-md-6 col-lg-offset-3" style="padding-bottom: 20px;">
                    <div id="grafico-alimento" class="ct-chart ct-perfect-fourth"></div>
                </div>
            </div>
            <div class="col-md-12" id="no-more-tables">
                <table class="table table-striped table-responsive tabela-alimento">
                    <thead>
                    <th><i class="fa fa-circle text-danger"></i><br> Protreinas</th>
                    <th><i class="fa fa-circle text-info"></i><br> Carboidratos</th>
                    <th><i class="fa fa-circle text-warning"></i><br> Gorduras</th>
                    <th>Quantidade</th>
                    </thead>
                    <tbody id="td-alm">
                    </tbody>
                </table>
            </div>
            <br clear="all">
        </div>
        <div class="tab-pane" id="nutri" style="border:solid 1px rgb(221, 221, 221);border-top: 0;padding: 5px;">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <h4 style="margin-top: 0;padding-top: 5px;text-align: center">Informaçōes Nutricionais:</h4>
                <p style="font-size: small;color: #333;text-align: center">
                    Uma grama deste alimento, contem:
                </p>
                <table class="table table-responsive table-striped table-bordered">
                    <tbody id="informacoes-nutricionais">
                    </tbody>
                </table>
            </div>
            <br clear="all">
        </div>
    </div>
</div>
<div class="col-md-12" style="margin-bottom: 10px;">
    <p style="font-size: smaller;color: #cccccc;text-align: right"> * Valores aproximados. </p>
</div>

<script>
    $(function () {
        $('#td').html( window.ucwords(window.alm_uid) );
        var quantidade = window.alm_qnt;
        var uid = window.alm_uid;
        var link = window.link+"api/diet/act-get-alimento.php?uid="+uid;
        $.getJSON(link, function( data ) {
           data = data.return;
            $('#alm-nome').html(data.nome);
            $('#td-alm').append(
                '<tr>' +
                    '<td data-title="Protreinas" style="text-align: center">'+(data.proteinas * quantidade).toFixed(2) +' g</td>' +
                    '<td data-title="Carboidratos" style="text-align: center">'+(data.carboidratos * quantidade).toFixed(2) +' g</td>' +
                    '<td data-title="Gorduras" style="text-align: center">'+(data.gorduras * quantidade).toFixed(2) +' g</td>' +
                    '<td data-title="Quantidade" style="text-align: center">'+quantidade +' g</td>' +
                '</tr>'
            );

            var info_nutricional = data.info_nutricional.split(';');
            $.each(info_nutricional, function (key,value) {
                if(value.length > 1){
                    var valor = value.split(':');
                    $('#informacoes-nutricionais').append(
                        '<tr>' +
                        '<td>'+valor[0]+'</td>' +
                        '<td>'+valor[1]+'</td>' +
                        '</tr>');
                }
            });
            var dataPreferences = {
                series: [
                    [25, 30, 20, 25]
                ]
            };

            var optionsPreferences = {
                donut: true,
                donutWidth: 40,
                startAngle: 0,
                total: 100,
                showLabel: false,
                axisX: {
                    showGrid: false
                }
            };

            var alm_label = [];
            if(data.p_carboidratos > 0){
                alm_label.push(Math.round( data.p_carboidratos)+'%')
            }else{
                alm_label.push('');
            }
            if(data.p_proteinas > 0){
                alm_label.push(Math.round(data.p_proteinas)+'%')
            }else{
                alm_label.push('');
            }
            if(data.p_gorduras > 0){
                alm_label.push(Math.round(data.p_gorduras)+'%')
            }else{
                alm_label.push('');
            }

            Chartist.Pie('#grafico-alimento', dataPreferences, optionsPreferences);

            Chartist.Pie('#grafico-alimento', {
                labels: alm_label,
                series: [data.p_carboidratos, data.p_proteinas, data.p_gorduras]
            });
        });
    });
</script>