<div class="row">
    <div class="col-md-12" id="beta">
        <div class="card">
            <div class="content" style="border: 1px solid rgba(139, 0, 0,0.2)">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title" style="color: darkred;;">Fase de Testes</h4>
                        <p style="font-size: small">O Anilha ainda esta em fase de desenvolvimento, acompanhe esse processo <a href="avisos.html"> aqui.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>