<div class="container-fluid" id="editar-loader">
    <div class="col-md-12">
        <i class="fa fa-3x fa-cog fa-spin"></i>
    </div>
</div>
<div class="container-fluid" id="editar-content" style="display: none">
    <div class="row">
        <div class="col-md-12">
            <h3 id="alm-nome"></h3>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-responsive tabela-alimento">
                <thead>
                <th>Proteinas</th>
                <th>Carboidratos</th>
                <th>Gorduras</th>
                <th>Quantidade</th>
                </thead>
                <tbody id="td-edit-alm">
                    <tr>
                        <td class="proteinas"></td>
                        <td class="carboidratos"></td>
                        <td class="gorduras"></td>
                        <td class="quantidade"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#alterar-quantidade" data-toggle="tab">Alterar Quantidade</a></li>
                <li><a href="#alterar-alimento" data-toggle="tab">Mudar Alimento</a> </li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="alterar-quantidade" style="border:solid 1px rgb(221, 221, 221);border-top: 0;padding: 5px;">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12">
                            <div class="col-md-9" style="padding-top: 5px;">
                                <div id="slider"></div>
                            </div>
                            <div class="col-md-3">
                                <p style="font-size: small;color: darkgreen;" id="qnt"></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-striped table-responsive tabela-alimento" id="edit-alm-new" style="display: none">
                                <thead>
                                <th>Proteinas</th>
                                <th>Carboidratos</th>
                                <th>Gorduras</th>
                                <th>Quantidade</th>
                                </thead>
                                <tbody id="td-edit-alm-new">
                                <tr>
                                    <td class="proteinas"></td>
                                    <td class="carboidratos"></td>
                                    <td class="gorduras"></td>
                                    <td class="quantidade" style="color: darkslateblue;"></td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="cal-dif" style="font-size: smaller;text-align: right;display: none;">
                                <font style="font-weight: bold"></font> calorias em sua refeição.<br>
                            </p>
                            <div class="col-md-12 cal-dif" style="padding: 5px;text-align: right;display: none">
                                <input type="button" class="btn btn-default" id="editar-alimento-enviar" value="Salvar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="alterar-alimento" style="border:solid 1px rgb(221, 221, 221);border-top: 0;padding: 5px;">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <input id="buscar-alimento" type="text" class="form-control" placeholder="Procurar alimento...">
                                <br>
                                <p id="Palimentos" style="font-size: smaller;color: #ccc;text-indent: 1em;display: none;"> Selecione o alimento:</p>
                                <select id="alimentos" class="form-control" multiple="multiple" style="display: none">
                                </select>
                            </div>
                            <div class="col-md-12" id="trocar-alimento" style="display: none">
                                <table class="table table-striped table-responsive tabela-alimento">
                                    <thead>
                                    <th>Proteinas</th>
                                    <th>Carboidratos</th>
                                    <th>Gorduras</th>
                                    <th>Quantidade</th>
                                    </thead>
                                    <tbody id="alm-new">
                                    <tr>
                                        <td class="proteinas"></td>
                                        <td class="carboidratos"></td>
                                        <td class="gorduras"></td>
                                        <td class="quantidade"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-9" style="padding-top: 5px;">
                                <div id="slider2"></div>
                            </div>
                            <div class="col-md-3">
                                <p style="font-size: small;color: darkgreen;" id="qnt2"></p>
                            </div>
                            <div class="col-md-12">
                                <p id="trocar-alimento-dif" class="cal-dif" style="font-size: smaller;text-align: right;display: none">
                                    <font style="font-weight: bold"></font> calorias em sua refeição.<br>
                                </p>
                            </div>
                            <div>
                                <input type="button" class="btn btn-default" id="trocar-alimento-enviar" value="Salvar" style="display: none">
                                <i class="fa fa-cog fa-spin carregando" style="display: none"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var max_slider = 50;
        var quantidade = window.alm_qnt;
        var uid  = window.alm_uid;
        var link = window.link + "api/diet/act-get-alimento.php?uid=" + uid;
        console.log(link);

        $.getJSON(link, function( data ) {
            data = data.return;

            $('#editar-loader')  .fadeOut('slow');
            $('#editar-content') .fadeIn('slow');

            if((data.nome).length > 22){
                $('#alm-nome').html((data.nome).substr(0, 22)+'...');
            }else{
                $('#alm-nome').html(data.nome);
            }

            $('tbody#td-edit-alm tr td.gorduras')         .html((data.gorduras     * quantidade).toFixed(2) +' g');
            $('tbody#td-edit-alm tr td.proteinas')        .html((data.proteinas    * quantidade).toFixed(2) +' g');
            $('tbody#td-edit-alm tr td.carboidratos')     .html((data.carboidratos * quantidade).toFixed(2) +' g');
            $('p#qnt,tbody#td-edit-alm tr td.quantidade') .html(quantidade                                  +' g');

            window.data = data;
            window.calorias_original = ((data.gorduras*9)+(data.proteinas*4)+(data.carboidratos*4))*quantidade;

            if((parseInt(quantidade)*2) > 50){ max_slider = (parseInt(quantidade)*2); }

            $( "#slider" ).slider({ max: max_slider,  min:0,  step: 25,  value: quantidade });

        });
        $( "#slider" ).on( "slidechange", function( event, ui ){
            var sl_value = $(this).slider("value");
            var sl_max   = max_slider;
            var quantidade_edit = sl_value / quantidade;
            window.calorias_final = 0;

            $('p#qnt').html(sl_value + ' g');


            if('data' in window && quantidade_edit > 0){
                $('#edit-alm-new').fadeIn('slow');
                $('tbody#td-edit-alm-new tr td.quantidade').html(sl_value + ' g');
                alterarAlimento( $('tbody#td-edit-alm-new tr td.gorduras')     , data.gorduras     * quantidade , quantidade_edit , 9);
                alterarAlimento( $('tbody#td-edit-alm-new tr td.proteinas')    , data.proteinas    * quantidade , quantidade_edit , 4);
                alterarAlimento( $('tbody#td-edit-alm-new tr td.carboidratos') , data.carboidratos * quantidade , quantidade_edit , 4);
            }else{
                $('#edit-alm-new').fadeOut('slow');
            }

            if(sl_value >= (max_slider-25)){ $( "#slider" ).slider({ max: (sl_max*2) }); max_slider *=2; }

            if(window.calorias_final-window.calorias_original > 0){
                $('.cal-dif').fadeIn('slow');
                $('.cal-dif font').html('+'+(window.calorias_final-window.calorias_original).toFixed(2));
            }else{
                $('.cal-dif').fadeIn('slow');
                $('.cal-dif font').html((window.calorias_final-window.calorias_original).toFixed(2));
            }

        });
        $('#editar-alimento-enviar').click(function () {
            switch(window.editar_acao) {
                case 'dieta':
                    $.ajax({
                        type: 'post',
                        data: 'uid=' + $.cookie('uid') + '&email=' + $.cookie('email') + '&ref=' + window.ref + '&qnt=' + ($("#slider").slider("value") / quantidade) + '&alm_uid=' + uid,
                        url: window.link + 'api/diet/act-dieta-atualizar.php',
                        success: function (retorno) {
                            window.jsonFUNC();
                        }
                    });
                break;
                case 'diario':
                    $.ajax({
                        type: 'post',
                        data: 'uid=' + $.cookie('uid') + '&email=' + $.cookie('email') +'&data='+window.dataDiario+ '&ref=' + window.ref + '&qnt=' + ($("#slider").slider("value") / quantidade) + '&alm_uid=' + uid,
                        url: window.link + 'api/diario/act-diario-atualizar.php',
                        success: function (retorno) {
                            $.carregarDiario();
                            $('.close').click();
                        }
                    });
                break;
            }
        });
    });
    function alterarAlimento(elemento,macro,novo,x){
        elemento.html((macro*novo).toFixed(2) +' g');
        if(novo > 1 ) {
            elemento.css('color', 'darkgreen');
        }
        if(novo < 1){
            elemento.css('color', 'darkred');
        }
        if(macro*novo == macro){
            elemento.css('color','#999');
        }

        window.calorias_final += (macro*novo)*x;
    }
</script>

<script>
    $(function () {

        var alimentos = [];
        $('#buscar-alimento').on('keyup',function () {
            if($(this).val().length > 3){

                var link = "http://api.anilha.net/api/diet/act-get-alimento.php?nome=" + $('#buscar-alimento').val();

                $('#Palimentos').fadeIn('slow');
                $('#alimentos').fadeIn('slow').html('<option>Carregando...</option>');
                $.getJSON(link, function (data) {
                    $('#alimentos').html('');
                    alimentos = [];
                    console.log(data['return'].length);
                    if(data['return'].length == 0){
                        $('#alimentos').append('<option>Nenhum alimento encontrado.</option>');
                    }
                    $.each(data['return'], function (key,value) {
                        alimentos.push(value);
                        $('#alimentos').append('<option id="'+key+'">'+value['nome']+'</option>');
                    });
                });
            }

            if($(this).val().length == 0){ $('#alimentos').fadeOut('slow'); }

        });
        $('#alimentos').on('change', function () {
            $('#trocar-alimento').fadeIn('slow');

            var id = alimentos[$('#alimentos option:selected').attr('id')];
            window.new_almUID = id.uid;

            console.log(id);

            var alm_original_calorias =
                    parseFloat( $('#td-edit-alm tr td.proteinas')    .html()) * 4 +
                    parseFloat( $('#td-edit-alm tr td.carboidratos') .html()) * 4 +
                    parseFloat( $('#td-edit-alm tr td.gorduras')     .html()) * 9 ;

            var calorias_novo =
                    (id.gorduras     * 9) +
                    (id.proteinas    * 4) +
                    (id.carboidratos * 4) ;

            var diferenca = alm_original_calorias / calorias_novo;
            diferenca = 25 * (Math.round( diferenca / 25));


            var calorias_novo =
                    (id.gorduras     * 9) * diferenca +
                    (id.proteinas    * 4) * diferenca +
                    (id.carboidratos * 4) * diferenca ;

            $('#alm-new tr td.quantidade,#qnt2') .html( (diferenca).toFixed(2)                   + ' g' );
            $('#alm-new tr td.proteinas')        .html( (id.proteinas    * diferenca).toFixed(2) + ' g' );
            $('#alm-new tr td.carboidratos')     .html( (id.carboidratos * diferenca).toFixed(2) + ' g' );
            $('#alm-new tr td.gorduras')         .html( (id.gorduras     * diferenca).toFixed(2) + ' g' );



            $('#trocar-alimento-dif').fadeIn('slow');
            if(calorias_novo - alm_original_calorias > 0){
                $('#trocar-alimento-dif font').html( ('+'+calorias_novo - alm_original_calorias).toFixed(2) );
            }else{
                $('#trocar-alimento-dif font').html( (calorias_novo - alm_original_calorias).toFixed(2) );
            }

            var stepp = 25;
            if(diferenca < 25){
                stepp = 5;
            }

            $( "#slider2" ).slider({ max: diferenca*2,  min:0,  step: stepp,  value: diferenca });
            $('#trocar-alimento-enviar').fadeIn('slow');

            window.slider2max = diferenca*2;
        });
        $( "#slider2" ).on( "slidechange", function( event, ui ){
            var diferenca2 = 0;
            var sl_value = parseFloat($(this).slider("value"));

            if(sl_value+25 >= window.slider2max){
                window.slider2max *= 2;
                $( "#slider2" ).slider({ max: window.slider2max,  min:0,  step: 25,  value: sl_value });
            }

            var alm_original_calorias =
                    parseFloat( $('#td-edit-alm tr td.proteinas')    .html()) * 4 +
                    parseFloat( $('#td-edit-alm tr td.carboidratos') .html()) * 4 +
                    parseFloat( $('#td-edit-alm tr td.gorduras')     .html()) * 9 ;

            var qnt_antiga = parseFloat($('#alm-new tr td.quantidade').html());

            var gorduras     = parseFloat($('#alm-new tr td.gorduras').html());
            var proteinas    = parseFloat($('#alm-new tr td.proteinas').html());
            var carboidratos = parseFloat($('#alm-new tr td.carboidratos').html());

            $('#qnt2').html(sl_value + ' g');

            diferenca2 = sl_value/qnt_antiga;
            console.log(diferenca2);

            $('#alm-new tr td.quantidade')   .html((sl_value)                  .toFixed(2) + ' g' );
            Slider2Adptar('gorduras'     , gorduras     * diferenca2);
            Slider2Adptar('proteinas'    , proteinas    * diferenca2);
            Slider2Adptar('carboidratos' , carboidratos * diferenca2);

            $('#trocar-alimento-dif').fadeIn('slow');

            var trocar_alimento_diferencaCal = (
                (gorduras     *9 * diferenca2) +
                (proteinas    *4 * diferenca2) +
                (carboidratos *4 * diferenca2) -
                alm_original_calorias);

            if(trocar_alimento_diferencaCal > 0 ){
                $('#trocar-alimento-dif font').html('+' + trocar_alimento_diferencaCal.toFixed(2) );
            }else{
                $('#trocar-alimento-dif font').html(trocar_alimento_diferencaCal.toFixed(2) );
            }


            function Slider2Adptar(elm,valor){
                var valor_antigo = parseFloat($('#td-edit-alm tr td.'+elm).html());
                var color = '#ccc';
                if(valor_antigo > valor){
                    color = 'darkred';
                }
                if(valor_antigo < valor){
                    color = 'darkgreen';
                }
                    $('#alm-new tr td.'+elm).html(valor.toFixed(2) + ' g').css('color',color);
            }

        });
        $('#trocar-alimento-enviar').click(function () {
            $('.carregando').fadeIn('slow');
            switch(window.editar_acao){
                case 'dieta':
                    var data_enviar = 'uid='+ $.cookie('uid') +
                                      '&email='+ $.cookie('email') +
                                      '&ref='+window.ref+
                                      '&alm_uid='+window.alm_uid +
                                      '&qnt='+parseFloat($( "#qnt2" ).html())+
                                      '&new_alm='+window.new_almUID;
                    $.ajax({
                        type: 'post',
                        data: data_enviar,
                        url: window.link+'api/diet/act-dieta-trocaalimento.php',
                        success: function (retorno) {
                            console.log(data_enviar);
                            window.jsonFUNC();
                            $('.close').click();
                        }
                    });
                break;
                case 'diario':
                    $('#diario-div,#diario-grafico').fadeOut('slow');
                    var data_enviar = 'uid='+ $.cookie('uid') +
                            '&email='+ $.cookie('email') +
                            '&ref='+window.ref+
                            '&alm_uid='+window.alm_uid +
                            '&qnt='+parseFloat($( "#qnt2" ).html())+
                            '&data='+window.dataDiario+
                            '&new_alm='+window.new_almUID;
                    $.ajax({
                        type: 'post',
                        data: data_enviar,
                        url: window.link+'api/diario/act-editar-alimento.php',
                        success: function (retorno) {
                            $.carregarDiario();
                            $('.close').click();
                        }
                    });
                break;
            }
        });
    });

</script>