<div class="row">
    <div class="col-md-12" id="confirmar_email">
        <div class="card">
            <div class="content" style="border: 1px solid rgba(139, 0, 0,0.2)">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="title" style="color: darkred;;">Confirmar Email</h4>
                        <p style="font-size: small">Você ainda não confirmou seu email, deseja enviar outro email de confirmação para <font id="E-email"></font>?</p>
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-danger btn-fill pull-right" value="Enviar" id="enviar-email">
                    </div>
                    <script>
                        $(function () {
                            $('#enviar-email').on( "click", function() {
                                $.ajax({
                                    type: 'post',
                                    data: '',
                                    url: window.link + 'api/user/act-confirm-email.php?uid=' + $.cookie('uid') + '&email=' + $.cookie('email'),
                                    success: function (retorno) {
                                        console.log(retorno);
                                        alert('Email enviado com sucesso.');
                                    }
                                });
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>