<div id="tf-about" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-text">
                    <div class="section-title center">
                        <h2>Nosso  <strong>objetivo</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <p class="description">A Anilha é a primeira startup do mundo a unir esporte e tecnologia para facilitar a vida tanto do usuário comum, quanto de atletas de alto rendimento. Utilizando as mais modernas tecnologias do mercado, convergimos à nuvem toda informação e processamento necessário para montar seu perfil e soluções exclusivas. Nosso desafio é modernizar o mercado fitness e também facilitar a vida das pessoas, fazê-las sentirem-se belas e torna-las mais saudáveis. Por que acreditamos que nada impacta mais do que boa saúde e auto-estima.</p>
                    </div>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 carousel">
                            <h3 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><i class="fa fa-hand-peace-o fa-3x"></i></h3>
                            <h4><strong>Você quem manda</strong></h4>
                            <p>Tudo é feito para você! Sua dieta e seus treinos sempre adaptados à você.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 carousel">
                            <h3 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><i class="fa fa-mobile fa-3x"></i></h3>
                            <h4><strong>Aonde estiver</strong></h4>
                            <p>Tenha sua dieta e treinos sempre com você. Em qualquer lugar do mundo e a qualquer momento!</p>
                        </div>
                        <div class="col-md-3 col-sm-6 carousel">
                            <h3 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><i class="fa fa-heart-o fa-3x"></i></h3>
                            <h4><strong>Supere-se</strong></h4>
                            <p>Supere-se em seus treinos e fique cada vez melhor! Compartilhe com seus médicos, amigos e parceiros.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 carousel">
                            <h3 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><i class="fa fa-cutlery fa-3x"></i></h3>
                            <h4><strong>Dieta</strong></h4>
                            <p>Mude seu conceito de dieta e coma o que você goste e mude sempre que quiser. É muito fácil!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tf-plataform" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="col-md-6">
                <div class="row">
                    <img id="tf-plataform-img" src="assets/img/index/1920px/imac.png" class="img-responsive">
                </div>
                <div class="row">
                    <div class="col-md-12" id="fa-plataform-selector" style="text-align: left">
                        <span class="active" style="font-size: 36px;padding-right: 2%;"><i class="fa fa-desktop"></i></span>
                        <span style="font-size: 36px;padding-right: 2%;"><i class="fa fa-tablet"></i></span>
                        <span style="font-size: 36px;padding-right: 2%;"><i class="fa fa-mobile"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-title center">
                    <h2 class="wow rollIn" data-wow-duration="2s">Em qualquer <strong>plataforma</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                    <p class="description wow fadeIn" data-wow-duration="2s" >A qualquer instante e em qualquer lugar! A Anilha é uma empresa que oferece um serviço que conecta os alunos com seus professores através de um aplicativo móvel. O aplicativo móvel possibilita o acesso sempre que o usuário quiser e independente de onde estiver. De forma rápida e prática o instrutor faz o planejamento e acompanhamento de seu aluno, enquanto que o atleta tem acesso a seus exercícios e é um guia de execução personalizado feito por seu instrutor. Educadores podem compartilhar seus conhecimentos entre si e para com seus alunos, instantaneamente. Saia da rotina, viaje, mas mantenha seu corpo em dia, no computador, no tablet, no celular, sua rotina de treinos e dietas acompanham você.</p>
                </div>
                <div class="row">
                    <a href="https://play.google.com/store/apps/details?id=net.anilha.anilha" title="Ver na Play Store" target="_blank">
                        <img alt="Disponível na Play Store" src="assets/img/index/play_store.png" class="wow slideInLeft">
                    </a>
                    <!--<a href="" title="">
                        <img src="assets/img/index/apple.png" class="wow slideInRight">
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tf-services">
    <div class="container">
        <div class="section-title center text-center">
            <h2>Veja alguns de nossos <strong>Serviços</strong></h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
            <p><em></em></p>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="services-item services-active wow fadeIn" data-text="daily" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="assets/img/index/diario.jpg" class="img-responsive img-circle">
                </div>
                <h2 class="text-center">Diário</h2>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="services-item wow fadeIn" data-text="diet" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="assets/img/index/dieta.jpg" class="img-responsive img-circle">
                </div>
                <h2 class="text-center">Dieta</h2>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="services-item wow fadeIn" data-text="workout" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="assets/img/index/treino.jpg" class="img-responsive img-circle">
                </div>
                <h2 class="text-center">Treino</h2>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="services-item wow fadeIn" data-text="media" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="assets/img/index/midias.jpg" class="img-responsive img-circle">
                </div>
                <h2 class="text-center">Mídias</h2>
            </div>
        </div>
    </div>
</div>

<div style="background-color: rgba(33,141,191,1);padding: 2%;">
    <div class="container">
        <div class="row">
            <p id="services-description" class="description" style="color: #FFFFFF">O diário do Anilha sempre acompanha você! Não esqueça de nenhuma caloria, de um jeito muito fácil você anota sua alimentação e obtém um relatório completo de toda sua ingestão de macronutrientes.Descubra sobre a velocidade do seu metabolismo, estipule metas e acerte na sua dieta!</p>
        </div>
    </div>
</div>

<div id="tf-plans" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>Contrate um de nossos <strong>planos</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <p class="description" style="text-align: center">Todos os planos do Anilha dão acesso total a todas os serviços presentes e posteriores.</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pricing-tables attached">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="plan">
                                    <div class="head"><h2>1 Mês</h2></div>
                                    <ul class="item-list">
                                        <li><strong>30</strong> Dias</li>
                                        <li>Faça uma auto-avaliação.</li>
                                        <li>Assine um mês de Anilha e veja a diferença!</li>
                                    </ul>
                                    <div class="price">
                                        <h3><span class="symbol">R$</span>10</h3>
                                        <h4>por mês</h4>
                                    </div>
                                    <a href="#" id="pay30" class="btn btn-success" onclick="window.scrollTo(0,0);">Contratar</a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 wow bounceIn" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="plan recommended">
                                    <div class="head"><h2>3 Meses</h2></div>
                                    <ul class="item-list">
                                        <li><strong>90</strong> Dias</li>
                                        <li>Faça um compromisso com voce mesmo.</li>
                                        <li>Em 3 meses mudar de corpo!</li>
                                    </ul>
                                    <div class="price">
                                        <h3><span class="symbol">R$</span>25</h3>
                                        <h4>3 meses</h4>
                                    </div>
                                    <a href="#" id="pay90" class="btn btn-success" onclick="window.scrollTo(0,0);">Contratar</a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="plan">
                                    <div class="head"><h2>1 Ano</h2></div>
                                    <ul class="item-list">
                                        <li><strong>365</strong> Dias</li>
                                        <li>Adote o modo de vida fitness!</li>
                                        <li><strong>20%</strong> de desconto</li>
                                    </ul>
                                    <div class="price">
                                        <h3><span class="symbol">R$</span>96</h3>
                                        <h4>por mês</h4>
                                    </div>
                                    <a href="#" id="pay365" class="btn btn-success" onclick="window.scrollTo(0,0);">Contratar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tf-testimonials" class="text-center">
    <div class="section-title center">
        <h2>O que estão <strong>dizendo</strong>?</h2>
        <div class="line">
            <hr>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container">
        <div class="row">
            <!-- 1ST TESTIMONIAL ITEM -->
            <div class="col-md-4 wow bounceIn animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: bounceIn;">
                <div class="clientsphoto">
                    <img width="100px" src="assets/img/index/quotes/victoria.jpg" alt="Victória Ciotta">
                </div>
                <div class="quote">
                    <blockquote>
                        <p style="text-align: justify;text-indent: 1em;">De todos aplicativos que ajudam a cuidar do corpo esse foi o que mais gostei, ele é simples e direto, me ajuda a manter sempre o foco por poder carregar minha dieta e meus treinos para qualquer lugar.</p>
                    </blockquote>
                    <h5>Victória Ciotta</h5>
                    <p>Estudante de nutrição esportiva e ED. física.</p>
                </div>
            </div><!-- 1ST TESTIMONIAL ITEM END -->
            <!-- 2ND TESTIMONIAL ITEM -->
            <div class="col-md-4 wow bounceIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: bounceIn;">
                <div class="clientsphoto">
                    <img width="100px" src="assets/img/index/quotes/samuel.jpg" alt="Samuel Fajreldines">
                </div>
                <div class="quote">
                    <blockquote>
                        <p style="text-align: justify;text-indent: 1em;">Minha maior motivação em começar a ideia da Anilha foi o fato de ser um processo complexo e até intimidador o controle de sua vida esportiva (dieta e treino), tudo era feito no papel, sem troca de alimentos, tudo muito “rudimentar”.<p>
                        <p style="text-align: justify;text-indent: 1em;">Depois de muito empenho e trabalho duro, conseguimos mudar isso… E vamos continuar!</p>
                    </blockquote>
                    <h5>Samuel Fajreldines</h5>
                    <p>Fundador da SmartPlan, Diretor de Tecnologia aplicada à nuvem.</p>
                </div>
            </div><!-- 2ND TESTIMONIAL ITEM END -->
            <!-- 3RD TESTIMONIAL ITEM -->
            <div class="col-md-4 wow bounceIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: bounceIn;">
                <div class="clientsphoto">
                    <img width="100px" src="assets/img/index/quotes/adibe.jpg" alt="Adibe Boufajreldim">
                </div>
                <div class="quote">
                    <blockquote>
                        <p style="text-align: justify;text-indent: 1em;">Estava acostumada a desistir das dietas e tentar começa-las novamente na segunda-feira, pela primeira vez consegui fazer uma dieta sem estresses, posso adaptá-la à alimentos que prefiro e carrega-la sempre comigo. Caso acabe desistindo... É muito fácil e barato gerar outra.</p>
                    </blockquote>
                    <h5>Adibe Boufajreldim</h5>
                    <p>Estudante de psicologia e empresária.</p>
                </div>
            </div><!-- 3RD TESTIMONIAL ITEM END -->
        </div>
    </div>
</div>

<div id="tf-message" class="text-center">
    <div class="overlay">
        <div class="container wow fadeIn" data-wow-duration="5s" data-wow-delay="0s">
            <div class="section-title center">
                <p><em><font style="font-size: 30px;">Sempre há uma nova chance... Ontem, você disse hoje.</font></em></p>
            </div>
        </div>
    </div>
</div>

<div id="tf-contact" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title center">
                    <h2>Sinta-se a vontade para nos <strong>contatar</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                    <p class="description" style="padding: 2%;text-align: center">Seja qual for sua dúvida ou sugestão, nosso pessoal terá o maior prazer em ouvir e ajudar da melhor forma possível.</p>
                </div>
                <div class="col-md-8 col-sm-12">
                    <form id="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contact-name">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu nome">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contact-email">Endereço de email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Entre com seu email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-titulo">Titulo</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo da mensagem">
                        </div>
                        <div class="form-group">
                            <label for="contact-message">Mensagem</label>
                            <textarea class="form-control" rows="3" id="mensagem" name="mensagem"></textarea>
                        </div>
                        <button type="submit" class="btn btn-18 btn-info wow tada">Enviar</button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div id="facebook-embed">
                        <div class="fb-page" data-href="http://www.facebook.com/anilha.net/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="http://www.facebook.com/anilha.net/"><a href="http://www.facebook.com/anilha.net/">Anilha.net</a></blockquote></div></div>
                    </div>
                    <a class="facebook" href="http://www.facebook.com/anilha.net" target="_blank" title="Ir para a página do Anilha">
                        <li><i class="fa fa-facebook-square"></i></li>
                    </a>
                    <!--<li><i class="fa fa-twitter-square"></i></li>-->
                    <a class="instagram" href="http://instagram.com/anilhanet" target="_blank" title="Instagram do Anilha">
                        <li><i class="fa fa-instagram"></i></li>
                    </a>
                    <!--<li><i class="fa fa-apple"></i></li>-->
                    <a class="android" href="https://play.google.com/store/apps/details?id=net.anilha.anilha" target="_blank" title="Confira na Play Store">
                        <li><i class="fa fa-android"></i></li>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tf-rodape" class="text-center">
    <div class="overlay">
        <div class="container" style="height: 200px;">
        </div>
    </div>
</div>