<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center">Tem certeza que deseja remover o alimento?</h3>
        </div>
        <div class="col-md-12" style="text-align: center;margin-top: 10px;">
            <button id="remover" type="button" class="btn btn-danger btn-fill"><i class="fa fa-cog fa-spin carregando" style="display: none"></i> Sim, remover alimento</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#remover').click(function () {
            $('.carregando').fadeIn('slow');
            var data_enviar = 'uid='+ $.cookie('uid') +
                    '&email='+ $.cookie('email') +
                    '&ref='+window.ref+
                    '&alm_uid='+window.alm_uid;
            $.ajax({
                type: 'post',
                data: data_enviar,
                url: window.link+'api/diet/act-dieta-rmvalimento.php',
                success: function (retorno) {
                    console.log(data_enviar);
                    window.jsonFUNC();
                    $('.close').click();
                }
            });
        });
    });
</script>