
    <div id="wrapper">

        <div id="page-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li>Painel</li>
                    <li class="active" id="breadcrumb"></li>
                </ol>

                <div class="row">
                         <div class="header">
                                <h4 class="title diario-titulo">Diário de Alimentos - <font id="data-diario"></font></h4>
                            </div>
                            <div class="content">
                                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#ref-1" data-ir="ref-1" data-numero="1" data-toggle="tab">Refeição 1</a>
                                    </li>
                                    <li id="add-refeicao"><a href="#">+</a></li>
                                    <li id="menos-refeicao" style="display: none">
                                        <a href="#">-</a>
                                    </li>
                                </ul>

                                <div id="my-tab-content" class="tab-content">
                                    <div class="tab-pane active" id="ref-1">
                                        <div id="diary-table">                                        
                                            <table id="table-diario-alimentos" class="table table-responsive table-striped">
                                                <thead>
                                                    <th>Alimento</th>
                                                    <th style="text-align: center">Quantidade</th>
                                                    <th style="text-align: center">Calorias</th>
                                                    <th style="text-align: center">Editar</th>
                                                    <th style="text-align: center">Remover</th>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align: right;margin-top: 2%;">
                                        <div class="col-md-12">
                                            <a href="" rel="faceboxnew">Adicionar Alimento</a> -
                                            <a href="#" id="copiarRefeicao">Copiar Refeição da Dieta</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5" id="diario-grafico" style="display:none;">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Gráfico de Calorias</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-responsive table-striped table-bordered">
                                            <thead>
                                                <th>Macro</th>
                                                <th style="text-align: center">Gramas</th>
                                                <th style="text-align: center">
                                                    <font style="color:darkred;">Calorias</font>
                                                </th>
                                                <th style="text-align: center">
                                                    <font style="color:rgb(255, 74, 85);">Dieta</font>
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr id="data-grafico-carboidratos">
                                                    <td>Carboidratos</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr id="data-grafico-proteinas">
                                                    <td>Proteinas</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr id="data-grafico-gorduras">
                                                    <td>Gorduras</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr id="data-grafico-total">
                                                    <td>Total</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="display: none" id="chartDiario" class="ct-chart ct-perfect-fourth"></div>
                                </div>
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Diário
                                    <i class="fa fa-circle text-danger"></i> Dieta
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer" id="footer">
                    <!-- loaded by js -->
                </footer>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
   