
 
<div id="wrapper">


        <div id="page-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li>Painel</li>
                    <li class="active" id="breadcrumb"></li>
                </ol>

                <div class="row" id="rowdieta" style="display: none">
                    <div class="col-sm-12 col-md-3 dietajson">
                        <div class="card"  style="margin-bottom: 2%;">
                            <div class="header">
                                <h4 class="title">Macro-nutrientes da dieta atual</h4>
                            </div>
                            <div class="content">
                                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 4px;">
                            <div class="content">
                                <i class="fa fa-circle text-info"></i> Carboidratos
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 4px;">
                            <div class="content">
                                <i class="fa fa-circle text-danger"></i> Proteinas
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 6px;">
                            <div class="content">
                                <i class="fa fa-circle text-warning"></i> Gorduras
                            </div>
                        </div>

                        <div class="card" id="ajustar-peso" style="display: none">
                            <div class="header">
                                <h4 class="title" style="color: darkgreen">Atualizar Peso</h4>
                            </div>
                            <div class="content">
                                <div class="input-group">
                                    <input type="number" id="peso-number" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-fill" type="button" id="atualizar-peso" disabled>Atualizar</button>
                                    </span>
                                </div>
                                <div class="footer" id="footer-atualizar" style="font-size: smaller;color: #666;text-align: right">
                                    <input name="ajustar" type="checkbox" id="ajustar-dieta" checked> Ajustar dieta automaticamente.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 removerMobile" style="padding-right: 5px;">
                                <div class="card">
                                    <div class="content">
                                        <div class="stats" id="dieta-objetivo">
                                            <i class="fa fa-cutlery"></i> Objetivo:
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 padding-left0 removerMobile" style="padding-left:0;padding-right: 5px;">
                                <div class="card">
                                    <div class="content">
                                        <div class="stats" id="data-dieta">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5" id="salvar-dieta">
                                <div class="card">
                                    <div class="content">
                                        <div class="stats">
                                            <i class="fa fa-cloud-download"></i> Salvar Dieta:
                                            <a class="impressao" href="">Impressão (.pdf)</a> -
                                            <a class="csv" href=""> Excel (.csv)</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 dietajson">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Refeiçōes</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <ul id="dieta-tab" class="nav nav-tabs" data-tabs="tabs">

                                        </ul>
                                        <div id="dieta-content" class="tab-content">
                                        </div>

                                        <div class="col-md-6" id="dieta-relatorio">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="title">Criar Dieta</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="card">
                            <div class="header">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="title">Nova Dieta</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12" style="padding-top: 5px;padding-right: 0;text-align: right;display: none">
                                            <label class="radio-inline" for="radios-0">
                                                <input type="radio" name="dieta-tipo" id="simples" value="1" checked="checked">
                                                Simples
                                            </label>
                                            <label class="radio-inline" for="radios-1" style="display: none;">
                                                <input type="radio" name="dieta-tipo" id="avançado" style="display: none" value="2">
                                                Avançado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">

                                <div class="col-md-12" style="text-align: right;padding-bottom: 10px;margin-bottom: 20px;">
                                </div>

                                <div id="dieta-simples">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                                <li class="active"><a href="#informacoes-basicas-simples" data-toggle="tab">Objetivo</a></li>
                                                <li><a href="#alimentos-simples" data-toggle="tab">Alimentos</a></li>
                                                <li><a href="#avancado" data-toggle="tab">Avançado</a> </li>
                                            </ul>
                                            <div id="my-tab-content" class="tab-content">
                                                <div class="tab-pane active" id="informacoes-basicas-simples" style="border:solid 1px rgb(221, 221, 221);border-top: 0;padding: 5px;">
                                                    <form id="self" class="form-horizontal">
                                                        <fieldset>
                                                            <!-- Multiple Radios (inline) -->

                                                            <div class="form-group">
                                                                <label class="col-sm-12 col-md-2 control-label" for="radios">Sexo</label>
                                                                <div class="col-sm-12 col-md-10">
                                                                    <label class="radio-inline" for="radios-0">
                                                                        <input type="radio" name="sexo" id="M" value="M" checked="checked">
                                                                        Masculino
                                                                    </label>
                                                                    <label class="radio-inline" for="radios-1">
                                                                        <input type="radio" name="sexo" id="F" value="F">
                                                                        Feminino
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <!-- Multiple Radios (inline) -->

                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <label class="col-sm-12 col-md-4 control-label" for="idade">Sua Idade</label>
                                                                    <div class="col-sm-12 col-md-8">
                                                                        <input id="idade" name="idade" type="number"
                                                                               placeholder="20" class="form-control input-md"
                                                                               required="">
                                                                        <span class="help-block">Quantos anos você tem?</span>
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <label class="col-sm-12 col-md-4 control-label" for="textinput">Altura</label>
                                                                    <div class="col-sm-12 col-md-8">
                                                                        <input id="altura" name="altura" type="number"
                                                                               placeholder="174"
                                                                               class="form-control input-md">
                                                                        <span class="help-block">Sua altura em centímetros.</span>
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <label class="col-sm-12 col-md-4 control-label" for="idade">Peso Atual</label>
                                                                    <div class="col-sm-12 col-md-8">
                                                                        <input id="peso" name="peso" type="number" placeholder="80"
                                                                               class="form-control input-md" required="">
                                                                        <span class="help-block">Peso atual em kilogramas.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-12 col-md-4 control-label" for="textinput">Refeições</label>
                                                                        <div class="col-sm-12 col-md-8">
                                                                            <input id="refeicoes" name="refeicoes" type="number" value="6" class="form-control input-md">
                                                                            <span class="help-block">Quantas refeições você faz?</span>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Select Basic -->
                                                                    <div class="form-group">
                                                                        <label class="col-sm-12 col-md-4 control-label" for="selectbasic">Atividade Fisica</label>
                                                                        <div class="col-sm-12 col-md-8">
                                                                            <select id="FA" name="FA" class="form-control">
                                                                                <option value="1">Sedentário</option>
                                                                                <option value="1.2">Super Levemente Ativo</option>
                                                                                <option value="1.4">Levemente Ativo</option>
                                                                                <option value="1.6">Moderadamente Ativo</option>
                                                                                <option value="1.8">Altamente Ativo</option>
                                                                                <option value="2">Extremamente Ativo</option>
                                                                            </select>
                                                                            <a href="#atividade" rel="facebox">Mais Informaçōes</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12" style="border-top: 1px dashed #cccccc">
                                                                <div class="form-group">
                                                                    <label class="col-sm-12 col-md-2 control-label" for="radios">Objetivo</label>
                                                                    <div class="col-sm-12 col-md-10" style="text-align: center">
                                                                        <label class="radio-inline" for="radios-1">
                                                                            <input type="radio" name="objetivo" id="cut" value="cut" checked>
                                                                            Emagrecer (Cutting)
                                                                        </label>
                                                                        <label class="radio-inline" for="radios-1">
                                                                            <input type="radio" name="objetivo" id="manter" value="manter" checked>
                                                                            Manter Peso
                                                                        </label>
                                                                        <label class="radio-inline" for="radios-0">
                                                                            <input type="radio" name="objetivo" id="bulk" value="bulk">
                                                                            Ganhar peso (Bulking)
                                                                        </label>
                                                                        <span class="help-block">Você deseja emagrecer, manter seu peso ou ganhar massa muscular? <a rel="modal" href="#objetivo-ajuda">Saiba Mais</a></span>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <div class="tab-pane" id="alimentos-simples" style="border:solid 1px rgb(221, 221, 221);border-top: 0;padding: 5px;">
                                                    <form class="form-horizontal" style="margin-top: 10px;">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <label class="col-sm-12 col-md-4 control-label">
                                                                    Alimentos Proibidos
                                                                </label>
                                                                <div class="col-sm-12 col-md-5">
                                                                    <input id="alimentos_proibidos" type="text" placeholder="Ex: Batata Inglesa" class="autocomplete form-control input-md almbusca">
                                                                    <span class="help-block">Pressione enter para adiciona-lo à lista.</span>
                                                                </div>
                                                                <div class="col-sm-12 col-md-3" class="loader" style="padding-top: 5px;"></div>
                                                                <label class="col-sm-12 col-md-4 control-label" for="alimentos-proibidos">Lista de Alimentos Proibidos</label>
                                                                <div class="col-sm-12 col-md-5">
                                                                    <select id="alimentos-proibidos" class="form-control" multiple="multiple">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </fieldset>
                                                        <div class="col-md-12" style="margin-top: 10px; border-top: 1px
                                                            solid rgb(221, 221, 221); padding-top: 10px;">
                                                            <p style="font-size: smaller"> Essa seção é opcional.</p>
                                                        </div>
                                                        <br clear="all">
                                                    </form>
                                                </div>
                                                <div class="tab-pane" id="avancado" style="border:solid 1px rgb(221, 221, 221);border-top: 0;padding: 5px;">
                                                    <form id="alt-form" class="form-horizontal" style="margin-top: 10px;">
                                                        <fieldset>
                                                            <div class="col-md-12" style="display: none">
                                                                <div class="form-group">
                                                                    <label class="col-sm-12 col-md-2 control-label" for="radios">Macros</label>
                                                                    <div class="col-sm-12 col-md-10">
                                                                        <label class="radio-inline" for="radios-0">
                                                                            <input name="tipo-alt" class="tipo-alt" id="radios-0" value="%" checked="checked" type="radio">
                                                                            %
                                                                        </label>
                                                                        <label class="radio-inline" for="radios-1" style="display: none">
                                                                            <input name="tipo-alt" class="tipo-alt" id="radios-1" value="g/kg" type="radio">
                                                                            g/kg
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <label class="col-sm-12 col-md-4 control-label" for="textinput">TMB</label>
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <input id="tmb-alt" name="tmb-alt" placeholder="" class="form-control input-md" type="text">
                                                                        <span class="help-block">Alterar Taxa Metabolica Basal</span>
                                                                    </div>
                                                                </div>

                                                                <!-- Text input-->
                                                                <div class="form-group">
                                                                    <label class="col-sm-12 col-md-4 control-label" for="textinput">Cal/Dia</label>
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <input id="cal-dia-alt" name="cal-dia-alt" placeholder="" class="form-control input-md" type="text">
                                                                        <span class="help-block">Alterar Calorias por Dia</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6"  style="border-left: 1px dashed #333;padding-left: 10px;">
                                                                <div class="col-md-12">
                                                                    <!-- Text input-->
                                                                    <div class="form-group">
                                                                        <label class="col-sm-12 col-md-4 control-label" for="textinput">Proteinas</label>
                                                                        <div class="col-sm-12 col-md-5">
                                                                            <input id="proteinas-alt" name="proteinas-alt" placeholder="40" class="form-control input-md alt-input" type="text">
                                                                            <span class="help-block" style="padding-bottom: 0;margin-bottom: 1px;">Apenas números</span>
                                                                        </div>
                                                                        <div class="col-md-3 pcnt" style="padding-left: 0;margin-left: 0;padding-top: 15px;">
                                                                            %
                                                                        </div>
                                                                    </div>

                                                                    <!-- Text input-->
                                                                    <div class="form-group">
                                                                        <label class="col-sm-12 col-md-4 control-label" for="textinput">Carboidratos</label>
                                                                        <div class="col-sm-12 col-md-5">
                                                                            <input id="carboidratos-alt" name="carboidratos-alt" placeholder="30" class="form-control input-md alt-input" type="text">
                                                                            <span class="help-block" style="padding-bottom: 0;margin-bottom: 1px;">Apenas números</span>
                                                                        </div>
                                                                        <div class="col-md-3 pcnt" style="padding-left: 0;margin-left: 0;padding-top: 15px;">
                                                                            %
                                                                        </div>
                                                                    </div>

                                                                    <!-- Text input-->
                                                                    <div class="form-group">
                                                                        <label class="col-sm-12 col-md-4 control-label" for="textinput">Gorduras</label>
                                                                        <div class="col-sm-12 col-md-5">
                                                                            <input id="gorduras-alt" name="gorduras-alt" placeholder="rest" class="form-control input-md alt-input" type="text">
                                                                            <span class="help-block" style="padding-bottom: 0;margin-bottom: 1px;">Apenas números</span>
                                                                        </div>
                                                                        <div class="col-md-3 pcnt" style="padding-left: 0;margin-left: 0;padding-top: 15px;">
                                                                            %
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <div class="col-md-12" style="font-size: smaller;margin-top: 10px; border-top: 1px solid rgb(221, 221, 221); padding-top: 10px;">
                                                            * Deixe em branco o que não for alterado.<br>
                                                            Essa seção é opcional.
                                                        </div>
                                                        <br clear="all">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 Aright" style="margin-top: 2%;text-align: right">
                                            <input type="button" class="btn btn-fill btn-info" id="dieta-enviar" value="Enviar" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div id="dieta-avancado" style="display: none">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <ul id="tabs-avancado" class="nav nav-tabs" data-tabs="tabs">
                                                <li class="active"><a href="#objetivo-avancado" data-toggle="tab">Objetivo</a></li>
                                                <li><a href="#red" data-toggle="tab">Perfil</a></li>
                                                <!--<li><a href="#black" data-toggle="tab">Rotina</a></li>-->
                                                <li><a href="#orange" data-toggle="tab">Alimentos</a></li>
                                                <li><a href="#pink" data-toggle="tab">Avançado</a></li>
                                            </ul>
                                            <div id="my-tab-content-avancado" class="tab-content">
                                                <div class="tab-pane" id="black" style="border:solid 1px rgb(221, 221, 221);border-top: 0;padding: 5px;">
                                                    <form class="form-horizontal" style="margin-top: 10px;">
                                                        <fieldset>
                                                            <!-- Text input-->
                                                            <div class="form-group">

                                                            </div>
                                                            <div class="form-group" style="display:none;">
                                                                <label class="col-sm-12 col-md-4 control-label" for="radios">Você treina?</label>
                                                                <div class="col-sm-12 col-md-5">
                                                                    <label class="radio-inline" for="treina-0">
                                                                        <input type="radio" name="treina" id="treina-0" value="Sim">
                                                                        Sim
                                                                    </label>
                                                                    <label class="radio-inline" for="treina-1">
                                                                        <input type="radio" name="treina" id="treina-1" value="Não" checked="checked">
                                                                        Não
                                                                    </label>
                                                                    <span class="help-block">Você pratica algum esporte?</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" id="trei-ref" style="display:none;">
                                                                <label class="col-sm-12 col-md-4 control-label" for="textinput">Treino entre refeiçōes: </label>
                                                                <div class="col-md-2">
                                                                    <input name="pretreino" type="number" placeholder="3" value="" class="form-control input-md">
                                                                </div>
                                                                <div class="col-md-1 Acenter" style="padding-top: 5px;">e</div>
                                                                <div class="col-md-2">
                                                                    <input name="postreino" type="number" placeholder="4" value="" class="form-control input-md">
                                                                </div>
                                                                <br>
                                                            </div>

                                                        </fieldset>
                                                    </form>
                                                    <br clear="all">
                                                </div>
                                                <div class="tab-pane" id="pink" style="border:solid 1px rgb(221, 221, 221);border-top: 0;padding: 5px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 Aright" style="margin-top: 2%;text-align: right">
                                            <input type="button" class="btn btn-fill btn-info" id="dieta-enviar-avancado" value="Enviar" disabled>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="row" style="margin-bottom: 4px;">
                                <div class="card" style="margin-bottom: 0;">
                                    <div class="header">
                                        <h4 class="title">Relatorio</h4>
                                    </div>
                                    <div class="content">
                                        <div id="chartnewdiet" class="ct-chart ct-perfect-fourth"></div>

                                        <div class="footer">
                                            <div class="legend" style="text-align: center">
                                                <i class="fa fa-circle text-info"></i> Carboidrato
                                                <i class="fa fa-circle text-danger"></i> Proteina
                                                <i class="fa fa-circle text-warning"></i> Gordura
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 4px;">
                                <div class="card" style="margin-bottom: 0px;">
                                    <div class="content">
                                            <p class="psubtitle"><b>Calculos e calorias:</b></p>
                                            <ul>
                                                <li id="rel-tmb">Taxa Metabolica Basal: </li>
                                                <li id="rel-calday">Calorias / Dia: </li>
                                                <li id="rel-objetivo">Objetivo: </li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="card">
                                <div class="content">
                                    <p  style="display: none" class="psubtitle"><b>Alimentos Preferidos:</b></p>
                                    <ul style="display: none" id="ul_alimentos_preferidos">

                                    </ul>
                                    <p class="psubtitle"><b>Alimentos Proibidos:</b></p>
                                    <ul id="ul_alimentos_proibidos">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <footer class="footer" id="footer">
                    <!-- loaded by js -->
                </footer>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/navbar.js"></script>
    <script src="assets/js/SmoothScroll.js"></script>
    <script src="assets/js/bootstrap-tabcollapse.js"></script>
    <!-- Bootbox -->
    <script src="assets/js/bootbox.min.js"></script>
    <!--  Charts Plugin -->
    <script src="assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin -->
    <script src="assets/js/bootstrap-notify.js"></script>
    <!-- Anilha Scripts -->
    <script src="framework/js/js-global.js"></script>
    <script src="framework/js/js-header.js"></script>
    <script src="framework/js/diet/js-diet-global.js"></script>

</body>
</html>
