
<div id="wrapper">

        <div id="page-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li>Painel</li>
                    <li class="active" id="breadcrumb"></li>
                </ol>

                <div class="row">
                    <div class="col-md-4" id="atualizar-perfil" style="display: none">
                        <div class="card" style="border: 1px solid rgba(100, 0, 0,0.3)">
                            <div class="header">
                                <h4 class="title" style="color: darkred">Atualizar Perfil</h4>
                                <p class="category">Você ainda não completou seu perfil.</p>
                            </div>
                            <div class="content">
                                <div class="input-group" style="text-align: right">
                                    <span class="input-group-btn">
                                        <a href="perfil.html">
                                            <button class="btn btn-default" type="button"><i class="fa fa-pencil"></i> Atualizar</button>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" id="atualiar-peso-div" style="display: none">
                        <div class="card" style="border: 1px solid rgba(0, 100, 0,0.3)">
                            <div class="header">
                                <h4 class="title" style="color: darkgreen">Atualizar Peso</h4>
                                <p class="category">Sua dieta se ajustará automaticamente.</p>
                            </div>
                            <div class="content">
                                <div class="input-group">
                                    <input type="number" id="peso" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-fill" type="button" id="atualizar-peso" disabled>Atualizar</button>
                                    </span>
                                </div>
                                <div class="footer" id="footer-atualizar" style="font-size: smaller;color: #666;text-align: right">
                                    <input name="ajustar" type="checkbox" id="ajustar-dieta" checked style="display: none"> Ajustar dieta
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" id="dias-painel">
                        <div class="card" style="border: 1px solid rgba(0, 0, 250,0.4)">
                            <div class="header">
                                <h4 class="title" style="color: darkblue">Dias</h4>
                                <p class="category">Você tem <font class="dias"></font> dias em sua conta.</p>
                            </div>
                            <div class="content">
                                <div class="input-group" style="text-align: right">
                                    <span class="input-group-btn">
                                        <a href="perfil.html">
                                            <button class="btn btn-default" type="button">Comprar mais</button>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6" id="evolucao" style="display: none">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Evolução</h4>
                                    </div>
                                    <div class="content">
                                        <div id="grafico-peso" class="ct-chart ct-perfect-fourth ct-series-a ct-point"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="dieta-rapida" style="display: none;">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Dieta</h4>
                                    </div>
                                    <div class="content" id="dieta-rapida-content">
                                        <div class="col-md-12" style="text-align: right; margin-bottom: 5px;font-size: smaller">
                                            <a class="impressao" href="">Visualização de Impressão</a> -
                                            <a href="dieta.html"> Editar Dieta</a> -
                                            <a href="dieta.html">Visão Detalhada </a>
                                        </div>
                                        <div class="col-md-12" style="font-size: small">
                                            <div style="margin-bottom: 5px;font-weight: bold">Refeiçōes:</div>
                                            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs"> </ul>
                                            <div id="my-tab-content" class="tab-content">
                                            </div>
                                        </div>

                                        <br clear="all">
                                    </div>
                                    <br clear="all">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <footer class="footer" id="footer">
                    <!-- loaded by js -->
                </footer>
            </div>
            <!-- /.container-fluid -->
        </div>
