
<div id="wrapper">

        <div id="page-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li>Painel</li>
                    <li class="active" id="breadcrumb"></li>
                </ol>

                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Atualizar Perfil</h4>
                            </div>
                            <div class="content">
                                <form id="perfil-form" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12" style="text-align: right;">
                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <label for="email" style="margin-left: 1%">Sexo</label>
                                                    <label for="M"  style="margin-left: 1%">
                                                        <input type="radio" name="sexo" id="M" value="M" style="margin-right: 5px;">
                                                        Masculino
                                                    </label>
                                                    <label for="F">
                                                        <input type="radio" name="sexo" id="F" value="F" style="margin-right: 5px;">
                                                        Feminino
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Nome:</label>
                                                    <input type="text" class="form-control" placeholder="" name="nome" id="nome">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" placeholder="" name="email" id="email">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="idade">Idade</label>
                                                    <input type="number" class="form-control" placeholder="" name="idade" id="idade">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Altura (Cm's)</label>
                                                    <input type="number" class="form-control" placeholder="" name="altura" id="altura">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Peso Atual (Kg's)</label>
                                                    <input type="number" class="form-control" placeholder="" name="peso" id="peso">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Refeicoes p/ dia</label>
                                                    <input id="refeicoes" name="refeicoes" type="number" placeholder="" value="6" class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Atividade Fisica</label>
                                                    <select id="FA" name="FA" class="form-control">
                                                        <option value="1">Sedentário</option>
                                                        <option value="1.2">Super Levemente Ativo</option>
                                                        <option value="1.4">Levemente Ativo</option>
                                                        <option value="1.6">Moderadamente Ativo</option>
                                                        <option value="1.8">Altamente Ativo</option>
                                                        <option value="2">Extremamente Ativo</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Endereço</label>
                                                    <input type="text" class="form-control" placeholder="" name="endereco" id="endereco">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Cidade</label>
                                                    <input type="text" class="form-control" placeholder="" name="cidade" id="cidade">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Pais</label>
                                                    <input type="text" class="form-control" placeholder="" name="pais" id="pais">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>CEP</label>
                                                    <input type="number" class="form-control" placeholder="" name="cep" id="cep">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                <p style="font-size: smaller;color: #9A9A9A">Estas informacoes nos possibilitarão uma adequação maior à você.</p>
                                            </div>
                                            <div class="col-md-4">
                                                <button id="atualizar-perfil" type="button" class="btn btn-warning pull-right">
                                                    <i class="fa fa-cog fa-spin" style="display: none" id="atualizar-perfil-working"></i> Atualizar Perfil</button>
                                                </div>
                                                <div class="col-md-12" style="text-align: center" id="atualizar-perfil-resultado">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Alimentos Proibidos</h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Adicionar</label>
                                        <input id="adicionar-alimento-proibido"  type="text" class="form-control alm-add autocomplete" placeholder="Aperte enter para adicionar">
                                    </div>
                                    <div class="form-group">
                                        <select id="alimentos-proibidos" class="form-control" multiple="multiple"></select>
                                        <p style="font-size: smaller;margin-top: 5px;color: rgba(154, 154, 154,0.8)">Aperte delete para apagar um item.</p>
                                    </div>
                                    <button type="submit" id="atualizar-alimentos-proibidos" class="btn btn-warning pull-right">
                                        <i class="fa fa-cog fa-spin" style="display: none"></i> Atualizar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: none">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Alimentos Preferidos</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Adicionar</label>
                                            <input id="adicionar-alimento-preferido" type="text" class="form-control alm-add autocomplete" placeholder="Aperte enter para adicionar">
                                        </div>
                                        <div class="form-group">
                                            <select id="alimentos-preferidos" class="form-control" multiple="multiple"></select>
                                            <p style="font-size: smaller;margin-top: 5px;color: rgba(154, 154, 154,0.8)">Aperte delete para apagar um item.</p>
                                        </div>
                                        <button type="button" id="atualizar-alimentos-preferidos" class="btn btn-info btn-fill pull-right" style="background-color: orange;border-color: darkorange">
                                            <i class="fa fa-cog fa-spin" style="display: none"></i> Atualizar
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<h3 class="title">Tabela de Planos</h3>
                        	<p>Comece já a usar o Anilha.</p>
						</div>
						<div class="pricing-tables attached well">
					        <div class="row">
					        	<div class="col-sm-4 col-md-4">
					        		<div class="plan">
					        			<div class="head"><h2>1 Mês</h2></div>
					        			<ul class="item-list">
					        			    <li><strong>30</strong> Dias</li>
					        			    <li>Faça uma auto-avaliação.</li>
					        			    <li>Assine um mês de Anilha e veja a diferença!</li>
					        			</ul>
					        			<div class="price">
					        				<h3><span class="symbol">R$</span>10</h3>
					        				<h4>por mês</h4>
					        			</div>
					        			<a disabled="disabled" href="" id="pay30" class="btn btn-success" target="_blank">Contratar</a>
					        		</div>
					        	</div>

					        	<div class="col-sm-4 col-md-4">
					        		<div class="plan recommended">
					        			<div class="head"><h2>3 Meses</h2></div>
					        			<ul class="item-list">
					        			    <li><strong>90</strong> Dias</li>
					        			    <li>Faça um compromisso com você mesmo.</li>
					        			    <li>Em 3 meses mudar de corpo!</li>
					        			</ul>
					        			<div class="price">
					        				<h3><span class="symbol">R$</span>25</h3>
					        				<h4>3 meses</h4>
					        			</div>
					        			<a disabled="disabled" href="" id="pay90" class="btn btn-success" target="_blank">Contratar</a>
					        		</div>
					        	</div>

					        	<div class="col-sm-4 col-md-4">
					        		<div class="plan">
					        			<div class="head"><h2>1 Ano</h2></div>
					        			<ul class="item-list">
					        			    <li><strong>365</strong> Dias</li>
					        			    <li>Adote o modo de vida fitness!</li>
					        			    <li><strong>20%</strong> de desconto</li>
					        			</ul>
					        			<div class="price">
					        				<h3><span class="symbol">R$</span>96</h3>
					        				<h4>por mês</h4>
					        			</div>
					        			<a disabled="disabled" href="" id="pay365" class="btn btn-success" target="_blank">Contratar</a>
					        		</div>
					        	</div>
					        </div>
					    </div>
					</div>
                    
                </div>
                <footer class="footer" id="footer">
                    <!-- loaded by js -->
                </footer>
            </div>
            <!-- /.container-fluid -->
   