 
<div id="wrapper">

        <div id="page-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li>Painel</li>
                    <li class="active" id="breadcrumb"></li>
                </ol>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Treino</h4>
                                <p class="category">Acompanhe o seu desenvolvimento físico.</p>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 col-md-offset-8 control-label" for="radios" style="text-align: right;">Organizar Treino por: </label>
                                            <div class="col-md-2" style="padding-left: 2px;padding-right: 0;">
                                                <label class="radio-inline" for="radios-0">
                                                    <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                                    Dias
                                                </label>
                                                <label class="radio-inline" for="radios-1">
                                                    <input type="radio" name="radios" id="radios-1" value="2">
                                                    Letras
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                            <li class="tabsRefs active"><a id="ref-treino-1" data-toggle="tab">Segunda-Feira</a></li>
                                            <li class="addTreino"><a >+</a></li>
                                            <li class="removerTreino" style="display:none;"><a >-</a></li>
                                        </ul>
                                        <div id="my-tab-content" class="tab-content">
                                            <div class="tab-pane active" id="1" style="border:solid 1px rgb(221, 221, 221);border-top: 0;">
                                                    <div id="no-more-tables" class="col-md-12">
                                                        <table id="treino-table" class="table table-striped table-responsive">
                                                            <thead>
                                                                <th>Exercício</th>
                                                                <th class="text-center">Categoria</th>
                                                                <th class="">Progresso</th>
                                                                <th class="text-center">Observaçōes</th>
                                                                <th class="text-center">Remover</th>
                                                            </thead>
                                                            <tbody class="exercicios-listar">
                                                                <tr id="exercicioExemplo">
                                                                    <td data-title="Exercício">
                                                                        <a class="editarnome"> Supino (Exercício de exemplo) </a>
                                                                    </td>
                                                                    <td data-title="Categoria" class="categoriaExercicio">
                                                                        <select class="form-control">
                                                                            <option value="">asdasd</option>
                                                                        </select>
                                                                    </td>
                                                                    <td data-title="Progresso">
                                                                        <input type="text" style="width:60px;margin-right:5px;" class="editarProgressao form-control" value="50Kg">
                                                                    </td>
                                                                    <td data-title="Observaçōes">
                                                                        <textarea class="observacaoExercicio form-control"> 4 séries de 12 a 15 repetiçōes</textarea>
                                                                    </td>
                                                                     <td data-title="Remover" class="text-center">
                                                                        <a href="#" data-exercicio="" class="apagarExercicio" style="color: darkred">
                                                                            <i class="fa fa-times"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr class="trNovoExercicio-treino-1">
                                                                    <td>
                                                                        <a href="#" class="addExercicio">Adicionar Exercício</a>
                                                                    </td>
                                                                    <td class="removerMobile"></td>
                                                                    <td class="removerMobile"></td>
                                                                    <td class="removerMobile"></td>
                                                                    <td class="removerMobile"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                <br clear="all">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer" id="footer">
                    <!-- loaded by js -->
                </footer>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/navbar.js"></script>
    <script src="assets/js/SmoothScroll.js"></script>
    <script src="assets/js/bootstrap-tabcollapse.js"></script>
    <!-- Bootbox -->
    <script src="assets/js/bootbox.min.js"></script>
    <!--  Charts Plugin -->
    <script src="assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin -->
    <script src="assets/js/bootstrap-notify.js"></script>
    <!-- Anilha Scripts -->
    <script src="framework/js/js-global.js"></script>
    <script src="framework/js/js-header.js"></script>
    <script src="framework/js/treino/js-treino-global.js"></script>

</body>
</html>
