.nav-tabs{
    border-bottom: 0;
}

@media(max-width: 800px) {
    
    /* Force table to not be like tables anymore */
    #diary-table table, 
    #diary-table thead, 
    #diary-table tbody, 
    #diary-table th, 
    #diary-table td, 
    #diary-table tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    #diary-table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    #diary-table tr { border: 1px solid #ccc; }
 
    #diary-table td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }
 
    #diary-table td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
 
    /*
    Label the data
    */
    #diary-table td:not(.removerMobile):nth-of-type(1):before { content: "Alimento"; }
    #diary-table td:not(.removerMobile):nth-of-type(2):before { content: "Quantidade"; }
    #diary-table td:not(.removerMobile):nth-of-type(3):before { content: "Calorias"; }
    #diary-table td:not(.removerMobile):nth-of-type(4):before { content: "Editar"; }
    #diary-table td:not(.removerMobile):nth-of-type(5):before { content: "Remover"; }
}