.dietaRefeicao{
    border:1px solid #ccc;
    border-top:0;
}
@media (min-width: 800px) {
    #salvar-dieta{
        padding-left: 0;
    }
}

@media (max-width: 800px) {

    .dietaRefeicao,#dieta-content{
        border: 0;
    }

    .removerMobile,#salvar-dieta{
        display: none;
    }

    /* Force table to not be like tables anymore */
    #dieta-table table, #dieta-table thead, #dieta-table tbody, #dieta-table th, #dieta-table td, #dieta-table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #dieta-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #dieta-table td:not(:first-child) {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    #dieta-table td:first-child {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        text-align: center;
    }

    #dieta-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    #dieta-table td:not(.removerMobile):nth-of-type(2):before { content: "Proteinas"; }
    #dieta-table td:not(.removerMobile):nth-of-type(3):before { content: "Carboidratos"; }
    #dieta-table td:not(.removerMobile):nth-of-type(4):before { content: "Gorduras"; }
    #dieta-table td:not(.removerMobile):nth-of-type(5):before { content: "Calorias"; }
    #dieta-table td:not(.removerMobile):nth-of-type(6):before { content: "Quantidade"; }
    #dieta-table td:not(.removerMobile):nth-of-type(7):before { content: "Editar"; }
    #dieta-table td:not(.removerMobile):nth-of-type(8):before { content: "Remover"; }

    #dieta-table td.removerMobile{
        display: none;
    }
}