@import url(pricing-table.css);
@import url(diario.css);
@import url(dieta.css);
@import url(animate.css);

body {
    background-color: rgb(248, 249, 250);
}


#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 260px;
    }
    #page-wrapper {
        padding: 10px;
    }
}


/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 20px;
    color: white;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #2780e3;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 58px;
        left: 225px;
        width: 260px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav>li>a {
        width: 260px;
    }
    .side-nav li a:hover, .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}


/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}


/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.side-nav i {
    font-size: 28px;
    /*float: left;*/
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li:hover, .navbar-inverse .navbar-nav>li:focus {
    opacity: 0.65;
}

.navbar-inverse .navbar-nav {
    /*opacity: .77;*/
    background-size: cover;
    background-position: center center;
}

.navbar-right .notification {
    position: absolute;
    background-color: #FB404B;
    text-align: center;
    border-radius: 10px;
    min-width: 18px;
    padding: 0 5px;
    height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 18px;
    top: 0px;
    left: 7px;
}

.navbar-right > li > a [class^="fa"] {
    font-size: 19px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
    background-color: grey;
}

.navbar-inverse {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: white;
    background-color: none;
}

.navbar-inverse .navbar-brand {
    color: white;
}

@media(min-width:768px) {
    .search-margin {
        margin-left: 70px;
    }
    .navbar-inverse .navbar-brand {
        margin-left: 80px;
    }
}

@media(max-width:768px) {
    .navbar-inverse .navbar-nav>li>a {
        text-align: center;
    }
    .search-margin {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #080808;
    opacity: 0.55;
}

.load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1031;
    color: rgba(255, 255, 255, 0.8);
}

.load > i {
    position: absolute;
    top: 50%;
    left: 50%;
}

#breadcrumb {
    text-transform: capitalize;
}

.card {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.footer {
    background-color: transparent;
    line-height: 20px;
}

.form-control:focus {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #333333;
}

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-btn .btn {
    border-width: 1px;
    padding: 9px 16px;
}

.btn {
    padding: 8px 16px;
}

.text-muted {
    color: #9A9A9A;
}

.text-primary, .text-primary:hover {
    color: #1D62F0 !important;
}

.text-info, .text-info:hover {
    color: #d70206 !important;
}

.text-success, .text-success:hover {
    color: #87CB16 !important;
}

.text-warning, .text-warning:hover {
    color: #f4c63d !important;
}

.text-danger, .text-danger:hover {
    color: #f05b4f !important;
}

.ct-label {
    fill: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
    line-height: 1;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.ui-front {
    z-index: 1032;
}

.form-control-feedback {
    top: 10px;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

.tab-content {
    border-top: 1px solid #ddd;
}
.copyright{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
#dieta-table{
    margin-bottom: 0;
}
#dieta-table tbody tr:last-child{
    background-color: rgba(0,149,199,0.1);
}
#dieta-table a{
    text-transform: capitalize;
}
#dieta-rapida-content table tbody tr td:first-child{
    text-transform: capitalize;

}
#dieta-rapida-content table {
    margin-bottom: 0;
}
.table-ref{
    border-top: 1px solid #cccccc;
    margin-bottom: 0;
}
#no-more-tables{
    padding: 0;
}
#treino-table{
    margin-bottom: 0;
}

#treino-table tbody tr:last-child{
    background-color: rgba(0,149,199,0.1);
}

#diario-div .tab-pane{
    border: 1px solid rgb(221, 221, 221);
    border-top: 0;
}
#diario-div table{
    margin-bottom: 0;
}
#diario-div table tr td:first-child{
    text-transform: capitalize;
}
#diario-div table tr td a{
    text-transform: capitalize;
}
#diario-datas{
    text-align: center;
}

#alm-nome{
    text-transform: capitalize;
}
.tabela-alimento thead th{
    text-align: center;
}
.tabela-alimento{
    border-top: 1px solid rgb(221, 221, 221);
    margin-bottom: 0;
}
#informacoes-nutricionais tr td:first-child{
    text-transform: capitalize;
}
#informacoes-nutricionais tr td:last-child::after{
    content: ' g';
}
#sidebar{
    background-color: rgb(85,157,225) !important;
}

@media(max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
    #no-more-tables td:before { content: attr(data-title); }
	/*
    
    #no-more-tables td:not(.removerMobile):nth-of-type(1):before { content: "Protreinas"; }
    #no-more-tables td:not(.removerMobile):nth-of-type(2):before { content: "Carboidratos"; }
    #no-more-tables td:not(.removerMobile):nth-of-type(3):before { content: "Gorduras"; }
    #no-more-tables td:not(.removerMobile):nth-of-type(4):before { content: "Quantidade"; }*/
}