@media (max-width: 800px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td:not(:first-child) {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: center;
    }
    td:first-child {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        text-align: center;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 15%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:not(.removerMobile):nth-of-type(2):before { content: "Categoria"; }
    td:not(.removerMobile):nth-of-type(3):before { content: "Progresso"; }
    td:not(.removerMobile):nth-of-type(4):before { content: "Observaçōes"; }
    td:not(.removerMobile):nth-of-type(8):before { content: "Remover"; }

    td.removerMobile{
        display: none;
    }
}